PROJECT=sockcp

CMAKE_INSTALL_PREFIX=

CMAKE_C_STANDARD=99
CMAKE_CXX_STANDARD=17

CMAKE_BUILD_TYPE=Debug
CMAKE_CONFIGURATION_TYPES="Debug;Release;Asan"

FETCH_GTEST=OFF

# CTEST_MEMORYCHECK_COMMAND=valgrind
# CTEST_MEMORYCHECK_COMMAND_OPTIONS=--trace-children=yes --track-fds=yes --track-origins=yes \
#     --leak-check=full --show-leak-kinds=all -s
# CTEST_MEMORYCHECK_SUPPRESSIONS_FILE=
